<html>

<head>
	<title>Covid-19 Resources</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">
	<meta charset="UTF-8">
	<meta name="Generator" content="EditPlus®">
	<meta name="Author" content="">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<style>
		li {
			margin-top: 10px;
  float: none;
}
	</style>
	<div id="nav">
		<img class="logo" src="/images/logoo.jpg">

		<ul>
			<a class="brand" href="#">Mental Health Awareness</a>
			<a class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
			<!--<li><a href="#gethelp">Get help</a></li>-->
			<a class="active" href="/gethelp"><i class="fa fa-question-circle"></i>Get help</a>

			<!--<li><a href="#join us">Join us</a></li>-->
			<a class="active" href="/joinus"><i class="fa fa-users"></i>Join us</a>

			<!--<li><a href="#YourStory">Your Story</a></li>-->
			<a class="active" href="/yourstory"><i class="fa fa-fw fa-book"></i>Your Story</a>

			<!--<li><a href="#covid-19">Covid-19</a></li>-->
			<a class="active" href="/corona"><i class="material-icons md-18"></i><span
					class="corona">Covid-19</span></a>

			<!--<li><a href="#donate">Donate</a></li>-->
			<a class="active" href="/donate"><i class="fa fa-fw fa-rupee"></i>Donate</a>
			<a class="active" href="/signout">Logout</a>

		</ul>
	</div>
	<div class="everything">

		<h1 id="heading">
			<center>Mental health and Covid-19</center>
		</h1>
		<h3 id="smallheading">How to take care of your mental health during Covid-19?</h3>
		<p class="p1">
			Taking care of your mind as well as your body is really important if you are staying at home because of
			coronavirus (COVID-19).<br>
			You may feel worried or anxious about your finances, your health or those close to you. Perhaps you feel
			bored, frustrated or lonely. It's important to remember that it's OK to feel this way and that everyone
			reacts differently.<br>
			Remember, for most of us, these feelings will pass. Staying at home may be difficult, but you're helping to
			protect yourself and others by doing it.<br>
			And we all have been trying to keep sane during these troubling, rather struggling days and here are a few
			things that could make things better while you're at home. Make sure you get further support if you feel you
			need it.</p>
		<img src="/images/work from home.jpg" width=350px height=270px alt="Work from home"><br>
		<!--<img src="meme1.gif" width=300px height=200px>-->
		<div class="box1">
			<div class="l1"><span id="l11">Plan your day</span><br><br>
				<span>
					We are all adjusting to a new, rather strange, way of life. This can be a risk to our mental
					wellbeing.
					As tempting as it might be to stay in pyjamas all day, regular routines are essential for our
					identity, self-confidence and purpose.
					Try to start your day at roughly the same time you usually would and aim to set aside time each day
					for movement, relaxation, connection and reflection.
				</span>
			</div>
			<div class="l2"><span id="l22">Connect with others</span><br><br>
				<span>
					Staying at home, especially if you live on your own, can feel lonely. Find creative ways to keep in
					touch with co-workers, friends, family, and others to help you (and them) feel more connected and
					supported.
					Explore ways of connecting that work for you, whether that’s by post, over the phone, social media,
					or video-chat. This could be anything, from sharing a cup of tea over video, playing an online game
					together, or simply sending a supportive text-message.
				</span>
			</div>
		</div>
		<div class="box2">
			<div class="l3"><span id="l33">Improve your sleep</span><br><br>
				<span>
					Feelings of uncertainty and changes to daily life may mean you have more difficulty sleeping.
					There is a lot you can do to improve your sleep. Aim to go to bed and get up at the same time each
					day, even at the weekend if you can, and try to get some natural sunlight (by opening your curtains
					and windows) where possible. This helps to regulate your body clock which can help you sleep better.
					Wind down before bed by avoiding using your phone, tablet, computer or TV for an hour before
					bedtime.
				</span>
			</div>
			<div class="l4"><span id="l44">Active distractions</span><br><br>
				<span>
					For some, calming and creative activities like reading, cooking and gardening are helpful
					distractions. Setting up a daily routine is also better for mental wellbeing and hobbies to keep you
					engaged enough to make mindfulness a priority without you trying too hard. These hobbies that you
					can learn during quarantine will give you new ways of enjoying life while also relieving stress.
					Many readers also found comfort in connecting with and supporting others, especially loved ones.
				</span>
			</div>
		</div>
		<br><br>
		<div class="l5">You can get more tips<a
				href="https://www.nhs.uk/oneyou/every-mind-matters/coronavirus-covid-19-staying-at-home-tips/"
				title="More tips" target="_blank"> here.</a></div>
		<div id="pre">
			<h2 id="precautions">Precautions to stay away from coronavirus physically</h2>
			It definitely is important to stay vigilant and know how to protect yourself from coronavirus
			physically.<br>
			Here are few precautions and effective ways for the same.
			<ol>
				<div>
					<li>Know how it spreads<br>
						Scientists are still learning about COVID-19, the disease caused by the new coronavirus, but
						according to the CDC, this highly contagious virus appears to be most commonly spread during
						close (within 6 feet) person-to-person contact through respiratory droplets.</li>
				</div>
				<div>
					<li>Practice social distancing<br>
						Since close person-to-person contact appears to be the main source of transmission, social
						distancing remains a key way to mitigate spread. The CDC recommends maintaining a distance of
						approximately 6 feet from others in public places. This distance will help you avoid direct
						contact with respiratory droplets produced by coughing or sneezing.</li>
				</div>
				<div>
					<li>Wash your hands<br>
						Practicing good hygiene is an important habit that helps prevent the spread of COVID-19.<br>
						Wash your hands often with soap and water for at least 20 seconds, especially after you have
						been in a public place, or after blowing your nose, coughing, or sneezing.
						It’s especially important to wash:<ul id="xyz">
							<li>Before eating or preparing food</li>
							<li>Before touching your face</li>
							<li>After using the restroom</li>
							<li>After leaving a public place</li>
							<li>After blowing your nose, coughing, or sneezing</li>
							<li>After handling your mask</li>
							<li>After caring for someone who’s sick</li>
							<li>After touching animals or pets</li>
						</ul>
						<div>
					<li>Wear a mask<br>
						Face masks have become essential accessories in protecting yourself and others from contracting
						COVID-19. </li>
				</div>
				<div>
					<li>Watch for symptoms<br>
						The symptoms of infection for the coronavirus are often similar to those of other respiratory
						virus infections, such as influenza. </li>
				</div>
				</li>
		</div>
		</ol>
	</div><br>
	<hr>
	<br>
	<article>You can get more information regarding mental health and covid-19 below:<br>
		<div><br>
			<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
				target="_blank">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</a>
		</div>
		<div><a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/managing-stress-anxiety.html"
				target="_blank">https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/managing-stress-anxiety.html</a>
		</div>
		<div><a href="https://www.mohfw.gov.in/pdf/COVID19Final2020ForOnline9July2020.pdf"
				target="_blank">https://www.mohfw.gov.in/pdf/COVID19Final2020ForOnline9July2020.pdf</a></div>
	</article>
	</div>
</body>
<footer class="footer-panel">
	<div> Contact us @:<br><br>
		Harshitha M-9466651754<br>
		Jahnavi-9463464456<br>
		Himani-6857492839<br>
		Harshitha RM-9121383478<br>
</footer>

</html>
