<!Doctype html>
<html lang="en">

<head>
  <title>get help</title>
  <meta charset="UTF-8">
  <meta name="Generator" content="EditPlus®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="/js/gethelp.js">

  </script>
  <style>
    * {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;

    }

    body {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      background-color: #edf5e1;
    }

    .everything {
      margin-left: 70px;
      margin-right: 70px;
    }

    .container {
      margin: 90px
    }

    hr {
      margin-left: 0px;
      margin-right: 0px;
      border-top: 3px dashed #bbb;
    }

    .d1 {
      width: 340px;
      border: 2px solid black;
      padding: 30px;
      margin-top: 0px;
      margin-left: 50px;
      margin-right: 50px;
      display: inline-block;
      box-shadow: 10px 15px 15px grey;
      background-color: #8ee4af;
      box-sizing: border-box;
      /*background-image: linear-gradient(to bottom right,#6666ff,#9999ff );*/
      border-radius: 23px;
    }

    .d1:hover {
      background-color: #edf5e1;
      border: 2px solid #000080;
    }

    .ment {
      display: flex;
      margin-top: 20px;
      margin-bottom: 40px;

    }

    .tew {
      color: #000080
    }

    .tew a {
      color: #000080
    }

    .tew a:hover {
      color: black
    }

    .help {
      margin-top: 0px;
      background-color: #edf5e1;
    }

    .help h3 {
      color: #000080
    }



    .footer-panel {
      background-color: grey;
      width: 100%;
      /* font-color: #05386b; */
      margin-left: 0px;
      margin-top: 30px;
      margin-bottom: 0px;
      padding-top: 35px;
      padding-bottom: 30px;
      background-color: #379683;
      border-top: 0;
      color: white;
    }

    footer div {
      margin-left: 50px;
    }

    #para {

      padding: 10px;
      background-image: linear-gradient(to bottom right, #5CDB95, #edf5e1);
      border-radius: 23px;
      background-color: #5CDB95;
      color: #05386b;

      font-size: 20px;
      margin-bottom: 20px;
    }

    h3 {
      text-align: center;
    }

    /*.button {
background-color:darkblue;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin:0;
float:right;
cursor: pointer;
border-radius: 25px;
}*/

    .image {
      width: 500px;
      border: solid 1px black;
      height: 340px;

    }

    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      /*margin: 8px 20px;*/
      box-sizing: border-box;
      border: 2px white;
      border-radius: 4px;
    }

    input[type=tel] {
      width: 100%;
      padding: 12px 20px;
      /*margin: 8px 20px;*/
      box-sizing: border-box;
      border: 2px white;
      border-radius: 4px;
    }

    input[type=email] {
      width: 100%;
      padding: 12px 20px;
      /*margin: 8px 20px;*/
      box-sizing: border-box;
      border: 2px white;
      border-radius: 4px;
    }

    input[type=button] {
      background-color: #05386b;
      border: 2px red;
      color: white;
      /*padding: 16px 32px;*/
      text-decoration: none;
      /*margin: 4px 20px;*/
      cursor: pointer;
      width: 100%;
    }

    .imag {
      margin-top: -23px;
      float: right;
      /* display:inline-block; */
      padding-top: 25px;
      padding-right: 100px;
    }

    /*img:hover {border:solid 3px black;}*/

    #for {
      margin-top: -20px;
      margin-left: 130px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 23px;
      width: 30%;
    }

    .button {
      background-color: #ccccff;
      border: none;
      color: black;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    #theForm {

      color: #05386b;
      font-weight: bold;
      font-size: 16px;

      /*display: table;*/
      padding: 1px;
    }

    #x {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 20px;
      padding-bottom: 40px;
      margin-bottom: 10px;
    }

    form {
      /*width: 300px;*/
      margin: 20px;
    }

    a:link {
      text-decoration: none;
    }

    a {
      color: white;

    }

    label {
      margin-left: -10px;
    }

    a:hover {
      text-decoration: underline;
    }

    .para {
      color: #05386b;
      /*background-color: #5CDB95;*/
      background-image: linear-gradient(to bottom right, #5CDB95, black);
      /*border: 2px solid #00001a;*/
      border-radius: 23px;
      margin-top: 20px;
      margin-bottom: 0px;
      margin-right: 50px;
      margin-left: 50px;
      padding: 20px;
    }
    .para1{
      color: #05386b;
      /*background-color: #5CDB95;*/
      background-image: linear-gradient(to bottom right, #5CDB95, black);
      /*border: 2px solid #00001a;*/
      border-radius: 23px;
      margin-top: 20px;
      margin-bottom: 0px;
      margin-right: 50px;
      margin-left: 50px;
      padding: 20px;
      height: 200px;
    }
    
    .para1 li{
      float: none;
    }
  </style>

</head>
<div id="nav">
  <img class="logo" src="/images/logoo.jpg">
  <ul>
    <a class="brand" href="#">Mental Health Awareness</a>
    <a class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <!--<li><a href="#gethelp">Get help</a></li>-->
    <a class="active" href="/gethelp"><i class="fa fa-question-circle"></i>Get help</a>

    <!--<li><a href="#join us">Join us</a></li>-->
    <a class="active" href="/joinus"><i class="fa fa-users"></i>Join us</a>

    <!--<li><a href="#YourStory">Your Story</a></li>-->
    <a class="active" href="/yourstory"><i class="fa fa-fw fa-book"></i>Your Story</a>

    <!--<li><a href="#covid-19">Covid-19</a></li>-->
    <a class="active" href="/corona"><i class="material-icons md-18"></i><span
        class="corona">Covid-19</span></a>

    <!--<li><a href="#donate">Donate</a></li>-->
    <a class="active" href="/donate"><i class="fa fa-fw fa-rupee"></i>Donate</a>
    <a class="active" href="/signout">Logout</a>

  </ul>
</div>

<body>
  <img src="/images/shutterstock.jpg" style="width: 100%;height:500px">
  <div class="everything">
    <br><br><br>
    <div id="para">
      <p>
      <h3>Do you need urgent help?</h3>
      <div id="x">
        If your mental or emotional state quickly gets worse, or you're worried about someone you know - help is
        available.

        You're not alone; talk to someone you trust.Sharing a problem is often the first step to recovery.
      </div>
      </p>

      <div id="for">

        <form method="POST" id="theForm">

          <!--<div class="row">-->
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name" placeholder="Enter name">
          <div id="demo1"></div>
          <br>


          <!--<div class="row">-->

          <label for="address">Address:</label><br>
          <input type="text" id="address" name="address" placeholder="Enter address">
          <div id="demo2"></div></br>


          <!--<div class="row">-->
          <label for="phone">Phone:</label><br>
          <input type="tel" id="phone" name="phone" placeholder="Enter phone number">
          <div id="demo3"></div> <br>


          <!--<div class="row">-->
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" placeholder="Enter email">
          <div id="demo4"></div><br>
          <input type="button" value="Submit" class="button" onclick="redirectPage()">

        </form>
      </div>
      <div class="imag">
        <img src="/images/gethelp1.jpg" class="image">
      </div>
    </div>
    <div class="help">
      <p>I’m in a crisis - who can I contact?
        If you or someone you know is at risk of suicide or harming themselves or others.
        you can take help from an emotional support line</p>

      <h3>What are emotional support lines?</h3>
      <p>
        Emotional support lines are known as ‘listening services.’ They aren’t counselling services or part of the NHS.
        They are there to listen to how you are feeling. You can talk to them about anything. Sharing your problems can
        be helpful to manage your feelings. Often people on helplines will have their own experience of mental health
        issues.</p>

      <h3>Some emotional support lines to try are: </h3>
      <div class="ment">
        <div class="d1">
          <h3>Samaritans</h3>
          Can be contacted by telephone, letter, e-mail and mini-com. There's also a face-to-face service, available at
          their local branches. They are open 24 hours a day, every day of the year.<br><br>
          <div class="tew">
            Telephone: 116 123<br>
            Email: jo@samaritans.org<br>
            Website:<a href="www.samaritans.org"> www.samaritans.org</a></div>
        </div>


        <div class="d1">
          <h3>
            Support Line</h3>
          Support Line provide a confidential telephone helpline offering emotional support to any individual on any
          issue. Their opening hours vary so you need to ring them for details.<br><br>
          <div class="tew">
            Telephone: 01708 765200<br>
            E-mail: info@supportline.org.uk<br>
            Website:<a href="www.supportline.org.uk"> www.supportline.org.uk</a>
          </div>
        </div>

        <div class="d1">
          <h3>
            Mood Swings</h3>
          Aimed at anyone affected by a mood disorder, including friends, families and carers. Their helpline is open
          10am to 4pm Monday to Friday.<br><br>
          <div class="tew">
            Telephone: 0161 832 37 36<br>
            E-mail: info@moodswings.org.uk<br>
            Website:<a href="www.moodswings.org.uk">www.moodswings.org.uk</a></div>
        </div>
      </div>
      <div>
        <hr>
        <div class="para1">
          <h4>Helpful sites</h4>
          <ul>
            <li class="l"><a target="_blank" href="https://www.samaritans.org/"> Samaritans</a></li>
            <li><a target="_blank" href="https://www.rethink.org/">Rethink Mental Illness</a></li>
            <li><a target="_blank" href="https://www.mind.org.uk/">Mind</a></li>
            <li><a target="_blank" href="https://www.nhs.uk/">NHS Choices</a></li>
            <li><a target="_blank" href="https://www.childline.org.uk/">Childline</a></li>
            <li><a target="_blank" href="https://www.youthaccess.org.uk/services/find-your-local-service">Youth Access
                Directory of Services</a></li>
            <li><a target="_blank" href="https://www.annafreud.org/on-my-mind/youth-wellbeing/">Youth Wellbeing
                Directory</a></li>
            <li><a target="_blank" href="https://youngminds.org.uk/find-help/for-parents/parents-helpline/">Young Minds'
                parents helpline</a></li>
        </div>
        </ul>
      </div>
    </div>
  </div>
  </div>
</body>
<footer class="footer-panel">
  <div> Contact us @:<br><br>
    Harshitha M-9466651754<br>
    Jahnavi-9463464456<br>
    Himani-6857492839<br>
    Harshitha RM-9121383478<br>
</footer>


</html>