<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>our partners</title>
</head>
<style>
  * {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;

  }

  body {
    background-color: #EDF5E1;
    color: #05386b;
  }

  .column {
    float: left;
    width: 33.3%;
    padding: 50px;
  }


  .row {
    content: "";
    clear: both;
    display: table;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 80px;
  }
</style>
<div id="nav">
  <img class="logo" src="/images/logoo.jpg">

  <ul>
    <a class="brand" href="#">Mental Health Awareness</a>
    <a class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <!--<li><a href="#gethelp">Get help</a></li>-->
    <a class="active" href="/gethelp"><i class="fa fa-question-circle"></i>Get help</a>

    <!--<li><a href="#join us">Join us</a></li>-->
    <a class="active" href="/joinus"><i class="fa fa-users"></i>Join us</a>

    <!--<li><a href="#YourStory">Your Story</a></li>-->
    <a class="active" href="/yourstory"><i class="fa fa-fw fa-book"></i>Your Story</a>

    <!--<li><a href="#covid-19">Covid-19</a></li>-->
    <a class="active" href="/corona"><i class="material-icons md-18"></i><span
        class="corona">Covid-19</span></a>

    <!--<li><a href="#donate">Donate</a></li>-->
    <a class="active" href="/donate"><i class="fa fa-fw fa-rupee"></i>Donate</a>
    <a class="active" href="/signout">Logout</a>
  </ul>
</div>



<br><br><br><br><br>

<body>
  <h2 style="text-align:center">YOU ARE NOW A PART OF OUR CAMPAIGN</h2><br><br><br>
  <h4 style="text-align:center"> OUR PARTNERS </h4>
  <div class="row">
    <div class="column">
      <img src="images/p3.png" alt="HFA" style="width:100%">
    </div>
    <div class="column">
      <img src="images/p5.png" alt="KMHA" style="width:100%">
    </div>
    <div class="column">
      <img src="images/p4.png" alt="HSE" style="width:100%;height:300px;">
    </div>
  </div>


</body>
<footer class="footer-panel">
  <div> Contact us @:<br>
    Harshitha M-9466651754<br>
    Jahnavi-9463464456<br>
    Himani-6857492839<br>
    Harshitha RM-9121383478<br>
</footer>

</html>