<html>

<head>
  <title>Thankyou</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    #thanks {
      margin-top: 20%;
      margin-right: 10%;
      margin-left: 10%;
    }
  </style>
</head>

<body id="thank">
  <div id="nav">
    <img class="logo" src="/images/logoo.jpg">

    <ul>
      <a class="brand" href="#">Mental Health Awareness</a>
      <a class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a class="active" href="/gethelp"><i class="fa fa-question-circle"></i>Get help</a>

      <a class="active" href="/joinus"><i class="fa fa-users"></i>Join us</a>

      <a class="active" href="/yourstory"><i class="fa fa-fw fa-book"></i>Your Story</a>

      <a class="active" href="/corona"><i class="material-icons md-18">coronavirus</i><span
          class="corona">Covid-19</span></a>

      <a class="active" href="/donate"><i class="fa fa-fw fa-rupee"></i>Donate</a>
      <a class="active" href="/signout">Logout</a>

    </ul>
  </div>
  <center>
    <h1 id="thanks">Thank you so much for your support and for helping us create a world with good mental health for
      all.</h1>
    <h2>Your time and money is valued.</h2>
  </center>
</body>


</html>